<div class="row">
  <div class="col-xs-10">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <label for="email">Mail</label>
        <ngx-codemirror
        name="email" ngModel
        [options]="{
          lineNumbers: true,
          theme: 'material',
          mode: 'typescript'
        }"
      ></ngx-codemirror>
        <input type="email" id="email" name="email" ngModel class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" ngModel class="form-control">
      </div>
      <button class="btn btn-primary" type="submit">Sign Up</button>
    </form>
  </div>
</div>
<div class="row">
    <div class="col-xs-10">

</div>
</div>
